* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial', sans-serif;
}

body {
    background-color: #6863FF;
    padding: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    background-color: #fff;
    padding: 50px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.input-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #F1F1F1;
}

button {
    padding: 10px 15px;
    background-color: #6863FF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5551db;
}

.remove-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-btn:hover {
    background-color: #a12a36;
}

.product-list {
    background-color: #F8F8F8;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc #F8F8F8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    list-style: none;
}

.product-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6E6E6;
    padding: 10px;
}

.product-name {
    overflow-wrap: break-word;
    max-width: 75%;
}

.summary {
    margin-top: 20px;
    padding-left: 20px;
}

.summary p {
    color: #65B351;
}